.DiaryItem {
  display: flex;
  gap: 15px;
  justify-content: space-between;

  padding: 15px 0;
  border-bottom: 1px solid rgb(236, 236, 236);
}
/* 이미지 섹션 스타일 */
.DiaryItem .img_section {
  min-width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}
.DiaryItem .img_section > img {
  width: 50%;
}
/* 이미지 번호에 따라 배경색상을 다르게 지정 */
.DiaryItem .img_section_1 {
  background-color: rgb(100, 201, 100);
}
.DiaryItem .img_section_2 {
  background-color: rgb(157, 215, 114);
}
.DiaryItem .img_section_3 {
  background-color: rgb(253, 206, 23);
}
.DiaryItem .img_section_4 {
  background-color: rgb(253, 132, 70);
}
.DiaryItem .img_section_5 {
  background-color: rgb(253, 86, 95);
}
/* 일기 내용 스타일 */
.DiaryItem .info_section {
  flex: 1;
  cursor: pointer;
}
.DiaryItem .info_section .created_date {
  font-weight: bold;
  font-size: 24px;
}
.DiaryItem .info_section .content {
  font-size: 18px;
}

/* 버튼 스타일 */
.DiaryItem .button_section {
  min-width: 70px;
}
