.brand_wrap > .brand {
  max-width: 1470px;
  margin: 0 auto;
  padding-top: 150px;
}
.brand_wrap > .brand > .brandbg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: calc(100% + 30px);
  z-index: 2;
  background: #1e1e1e;
}
.brand_wrap > .brand > h2 {
  font-size: 2.6vw;
  padding-bottom: 2.1vw;
  letter-spacing: -1px;
  font-weight: 600;
  color: var(--color-wt);
}
.brand_list {
  position: relative;
  display: flex;
}
.brand_list > li {
  flex-shrink: 0;
  width: 14.06vw;
  aspect-ratio: 62/100;
  border-radius: 35px;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
}
.brand_list > li > a {
  width: 100%;
  height: 100%;
  position: relative;
}
.brand_list > li > a > .logo_img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
.brand_list > li > a > .logo_img img {
  width: auto;
  max-width: 68%;
  max-height: 20%;
}
.brand_list > li > a > .bg_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

@media screen and (width>=1920px) {
  .brand_wrap > .brand > h2 {
    font-size: 50px;
    padding-bottom: 40px;
  }
  .brand_list > li {
    width: 270px;
  }
}
@media screen and (max-width: 1470px) {
  .brand_wrap > .brand {
    padding: 150px 60px 0;
  }
  .brand_wrap > .brand > h2 {
    font-size: 30px;
    letter-spacing: 1px;
    padding-bottom: 30px;
  }
  .brand_list > li {
    width: 28%;
  }
}
@media screen and (max-width: 960px) {
  .brand_wrap > .brand {
    padding: 50px 25px 0;
  }
}
@media screen and (max-width: 640px) {
  .brand_list > li {
    width: 46.67vw;
  }
}
