/*공통*/
.hidden {
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0;
}
a {
    display: block;
    color: #000;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
  }
body {
    position: relative;
}
    