.content_wrap > .content {
  max-width: 1470px;
  margin: 0 auto;
  padding: 158px 0 0;
}
.content_wrap > .content > .contentbg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: calc(100% + 30px);
  z-index: 2;
  background: #1e1e1e;
}
.content_wrap > .content > h2 {
  font-size: 2.6vw;
  padding-bottom: 2.1vw;
  letter-spacing: -2.8px;
  font-weight: 600;
  color: var(--color-wt);
}
.content_list {
  position: relative;
  display: flex;
}
.content_list li {
  flex-shrink: 0;
  width: 340px;
  height: 260px;
  border-radius: 35px;
  overflow: hidden;
}
.content_list > li > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.content_list > li > a > .content_txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4% 11.1% 2.2% 11.1%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  font-size: 0.83vw;
  line-height: 1.5;
}
.content_list > li > a > .content_txt span {
  display: block;
  color: var(--color-wt);
  font-size: 16px;
  margin-bottom: 10px;
}
.content_list > li > a > .content_txt time {
  color: var(--color-wt);
  font-size: 14px;
}
.content_list > li > a > .content_img {
  width: 100%;
  height: 100%;
}
.content_list > li > a > .content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (width>=1920px) {
  .content_wrap > .content > h2 {
    font-size: 50px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1470px) {
  .content_wrap > .content {
    padding: 158px 60px 0;
  }
  .content_wrap > .content > h2 {
    font-size: 30px;
    letter-spacing: 1px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 960px) {
  .content_wrap > .content {
    padding: 50px 25px 0;
  }
}
@media screen and (max-width: 640px) {
  .content_list > li {
    width: 66.67vw;
    height: 53.34vw;
  }
  .content_list > li > a > .content_txt {
    padding: 15px 25px 10px;
  }
  .content_list > li > a > .content_txt span {
    font-size: 14px;
  }
  .content_list > li > a > .content_txt time {
    font-size: 13px;
  }
}
