.foodon_wrap .foodon {
  max-width: 1470px;
  margin: 0 auto;
  padding-top: 142px;
}
.foodon_wrap .foodon > .foodonbg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: calc(100% + 30px);
  z-index: 2;
  background: #efe5d9;
}
.foodon_wrap > .foodon > h2 {
  font-size: 2.6vw;
  padding-bottom: 2.1vw;
  letter-spacing: -2.8px;
  font-weight: 600;
  color: var(--color-bk);
}
.foodon_list {
  position: relative;
  display: flex;
}
.foodon_list > li {
  flex-shrink: 0;
  width: 14.06vw;
  aspect-ratio: 62/100;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: rgb(155, 156, 151) 5px 5px 6px 0px;
  border: 1px solid rgb(125, 125, 125);
}
.foodon_list > li > a {
  width: 100%;
  height: 100%;
  position: relative;
}
.foodon_list > li > a > .foodon_img {
  width: 100%;
  height: 100%;
}
.foodon_list > li > a > .foodon_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foodon_list > li > a > .foodon_txt {
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  padding: 10.2% 7% 10.2% 10.6%;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 1.41;
}
.foodon_list > li > a > .foodon_txt > span {
  display: block;
  color: var(--color-wt);
}

@media screen and (width>=1920px) {
  .foodon_wrap > .foodon > h2 {
    font-size: 50px;
    padding-bottom: 40px;
  }
  .foodon_list > li {
    width: 270px;
  }
  .foodon_list > li > a > .foodon_txt {
    font-size: 25px;
  }
}

@media screen and (max-width: 1470px) {
  .foodon_wrap .foodon {
    padding: 50px 60px 0;
  }
  .foodon_wrap > .foodon > h2 {
    font-size: 35px;
    letter-spacing: -1px;
    padding-bottom: 30px;
  }
  .foodon_list > li {
    width: 28%;
  }
  .foodon_list > li > a > .foodon_txt {
    padding-left: 9%;
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 960px) {
  .foodon_wrap .foodon {
    padding: 50px 25px 0;
  }
}
@media screen and (max-width: 640px) {
  .foodon_list > li {
    width: 46.67vw;
  }
  .foodon_list > li > a > .foodon_txt {
    font-size: 21px;
  }
}
