/*푸터상단*/
footer {
  border-top: 2px solid #5f5f5f;
  background: #1e1e1e;
}
footer > .footer_info {
  padding: 87px 0 100px;
  border-bottom: 2px solid #5f5f5f;
}
footer > .footer_info > .footer_inner {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  position: relative;
}
footer > .footer_info > .footer_inner > h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  color: var(--color-wt);
}
footer > .footer_info > .footer_inner > .footer_until {
  position: absolute;
  right: 0;
  top: 0;
}
footer .footer_until > .fot_until_list {
  display: flex;
  gap: 10px;
}
footer .footer_until > .fot_until_list li {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: #5f5f5f;
}
footer .footer_until > .fot_until_list li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .footer_info > .footer_inner > strong,
footer > .footer_info > .footer_inner > address,
footer > .footer_info > .footer_inner > p {
  color: #909090;
}
footer > .footer_info > .footer_inner > strong {
  display: block;
  margin-top: 65px;
  font-size: 23px;
  font-weight: 500;
}
footer > .footer_info > .footer_inner > strong > em {
  font-weight: 600;
  font-size: 30px;
}
.footer_info > .footer_inner > address {
  margin-top: 43px;
  font-size: 18px;
}
footer .footer_item {
  display: flex;
  margin-top: 18px;
}
footer .footer_item > li {
  margin-right: 36px;
  position: relative;
  white-space: nowrap;
}
footer .footer_item > li::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 18px;
  background: #909090;
  position: absolute;
  right: -20px;
  bottom: 0;
}
footer .footer_item > li:last-child::before {
  background: none;
}
footer .footer_item > li > p {
  color: #909090;
  font-size: 18px;
}
footer .copy {
  font-size: 20px;
  margin-top: 43px;
}
/*푸터상단*/

/*푸터하단*/
footer .footer_bot {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 58px 0 80px;
  position: relative;
}
footer .footer_bot > .fot_logo {
  width: 280px;
  float: left;
  margin-right: 43px;
}
footer .footer_bot > .fot_logo img {
  width: 100%;
  object-fit: cover;
}
footer .footer_bot .footer_menu {
  margin-top: 5px;
}
footer .footer_bot .footer_menu_list {
  display: flex;
  gap: 43px;
  white-space: nowrap;
}
footer .footer_bot .footer_menu_list > li > a {
  color: #909090;
  font-size: 16px;
  font-weight: 600;
}
footer .footer_bot .footer_menu_list > li > a::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url('/shinsegaefood/images/fot_menu_ico.png') no-repeat top left /
    auto 100%;
  margin: 4px 0 -2px 10px;
}
footer .footer_bot .footer_menu_list > li > a.privacy {
  font-size: 18px;
  color: var(--color-wt);
}
footer .footer_bot .footer_menu_list > li > a.privacy::after {
  background: url('/shinsegaefood/images/fot_menu_ico.png') no-repeat top
    right / auto 100%;
}
footer .busy_wrap {
  width: 100%;
}
footer .busy_btn {
  width: 240px;
  height: 55px;
  border: 3px solid #7d7d7d;
  border-radius: 30px;
  background: #1e1e1e;
  font-weight: 600;
  font-size: 18px;
  color: #7d7d7d;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 60px;
}
footer .busy_btn::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 6px;
  margin: 0 0 3px 10px;
  background: url('/shinsegaefood/images/fot_busy_ico.png') no-repeat center /
    100% 100%;
}
footer .busy_wrap > .busy {
  display: none;
  position: absolute;
  bottom: 125px;
  right: 0;
  width: 240px;
  z-index: 99;
  padding: 25px 29px 21px 29px;
  border: 3px solid #7d7d7d;
  border-radius: 30px;
  background: #1e1e1e;
  box-sizing: border-box;
}
footer .busy_wrap > .busy > strong {
  display: flex;
  align-items: center;
  padding: 10px 0 5px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  color: #7d7d7d;
  margin-bottom: 10px;
}
footer .busy_wrap > .busy > strong::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #7d7d7d;
  margin-left: 10px;
}
footer .busy_list > li {
  margin-bottom: 10px;
}
footer .busy_list > li > a {
  font-size: 18px;
  font-weight: 600;
  color: #e9e9e9;
}
.busy_btn:hover + .busy {
  display: block;
}
/*푸터하단*/
@media screen and (max-width: 1470px) {
  footer {
    padding: 0 14px;
  }
  footer .footer_bot .footer_menu {
    clear: both;
    margin-top: 75px;
  }
  footer .busy_btn {
    bottom: 115px;
  }
  footer .busy_wrap > .busy {
    bottom: 180px;
  }
}
@media screen and (max-width: 960px) {
  footer > .footer_info {
    padding: 30px 0 40px;
  }
  footer > .footer_info > .footer_inner > .footer_until {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 105px;
  }
  footer > .footer_info > .footer_inner > strong {
    margin-top: 170px;
  }
  footer > .footer_info > .footer_inner > h3 {
    font-size: 20px;
  }
  footer > .footer_info > .footer_inner > strong {
    font-size: 16px;
  }
  footer > .footer_info > .footer_inner > strong > em {
    font-size: 18px;
  }
  .footer_info > .footer_inner > address {
    font-size: 14px;
    margin-top: 20px;
  }
  footer .footer_item {
    margin-top: 8px;
  }
  footer .footer_item > li {
    margin-right: 20px;
  }
  footer .footer_item > li::before {
    width: 1px;
    height: 13px;
    right: -11px;
  }
  footer .footer_item > li > p {
    font-size: 14px;
  }
  footer .copy {
    font-size: 14px;
    margin-top: 15px;
  }
  footer .footer_bot {
    padding: 24px 0 100px;
  }
  footer .footer_bot .footer_menu {
    margin-top: 50px;
  }
  footer .footer_bot .footer_menu_list {
    gap: 20px;
  }
  footer .footer_bot .footer_menu_list > li > a {
    font-size: 14px;
  }
  footer .footer_bot .footer_menu_list > li > a.privacy {
    font-size: 16px;
  }
  footer .busy_btn {
    width: 100%;
    height: 44px;
    font-size: 15px;
    bottom: 20px;
  }
  footer .busy_wrap > .busy {
    width: 100%;
    height: 480px;
    bottom: 72px;
    overflow-x: auto;
  }
  footer .busy_list > li > a {
    font-size: 16px;
  }
}
@media screen and (max-width: 720px) {
  footer {
    padding: 0 5px;
  }
  footer > .footer_info > .footer_inner > .footer_until {
    top: 84px;
  }
  footer > .footer_info > .footer_inner > strong {
    margin-top: 118px;
  }
  footer > .footer_info {
    padding: 20px 0 25px;
  }
  footer .footer_until > .fot_until_list li {
    width: 63px;
    height: 63px;
    border-radius: 10px;
  }
  footer .footer_until > .fot_until_list li a img {
    width: 32px;
  }
  footer .footer_until > .fot_until_list li .ssg_icon img {
    width: 40px;
  }
  footer .footer_bot {
    padding: 20px 0 90px;
  }
  footer .footer_bot > .fot_logo {
    width: 210px;
  }

  footer .footer_item > li > p,
  .footer_info > .footer_inner > address,
  footer .copy,
  footer .footer_bot .footer_menu_list > li > a,
  footer .footer_bot .footer_menu_list > li > a.privacy {
    font-size: 12px;
  }
  footer .footer_bot .footer_menu_list {
    gap: 10px;
  }
  footer .footer_bot .footer_menu_list > li > a::after {
    width: 8px;
    height: 8px;
    margin: 4px 0 0 3px;
  }
}
