/*헤더*/
header {
  background: #efe5d9;
}
header .header_inner {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0 80px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  z-index: 9999;
}
header .header_inner .logo {
  width: 190px; /*1440px보다 작을때 220px, 19.05px */
  height: 17px; /*960px보다 작을때 208px, 19.02px  */
  /*640px보다 작을때 138px, 11.95px*/
  position: absolute;
  top: 25px;
  left: 165px;
}
header .header_inner .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
header .header_inner .logo a img {
  width: 100%;
  height: 100%;
}
nav {
  width: 36px;
  height: 100%;
}
nav .tog_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
}
nav .tog_menu::before,
nav .tog_menu::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background: #1e1e1e;
}
nav .tog_menu .bar {
  display: block;
  position: relative;
  width: 36px;
  height: 3px;
  margin: 0 auto;
  background: #1e1e1e;
}
nav .gnb_wrap {
  display: none;
  width: 100%;
  height: 100vh;
  background: #1e1e1e;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
}
nav .gnb_wrap > strong {
  max-width: 1520px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 18px;
  color: var(--color-wt);
  padding: 100px 120px 29px 120px;
  border-bottom: 1px solid #adadad;
  box-sizing: border-box;
  position: relative;
}
nav .gnb_wrap > strong > .gnb_logo {
  width: 190px;
}
nav .gnb_wrap > strong > .gnb_logo > img {
  width: 100%;
  object-fit: cover;
}
nav .gnb_wrap .close_btn {
  width: 50px;
  height: 50px;
  top: 84px;
  right: 27px;
  border: 1px solid var(--color-wt);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
nav .gnb_wrap .close_btn::before {
  content: "\2715"; /*엑스버튼*/
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  color: var(--color-wt);
  text-align: center;
}
nav .gnb_list {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 55px 120px 0;
  display: flex;
  justify-content: space-between;
}
nav .gnb_list a {
  color: var(--color-wt);
  text-align: center;
}
nav .gnb_list > li > a {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
nav .gnb_list .gnb_mainlist li a {
  font-size: 18px;
  padding: 12px 0;
}
nav .gnb_list .gnb_mainlist .gnb_sublist {
  padding-bottom: 40px;
}
.until_menu .untilmenu_list {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 87px;
}
.untilmenu_list li a {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}
.search {
  width: 160px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 80px;
}
.search form .ip_search {
  width: 100%;
  height: 40px;
  border: 2px solid #1c1d1d;
  padding: 0 40px 0 14px;
  border-radius: 100px;
  box-sizing: border-box;
  background: none;
}
.search form .search_icon {
  display: block;
  width: 39px;
  height: 100%;
  background: url("/shinsegaefood/images/search_ico.png") no-repeat center;
  position: absolute;
  right: 6px;
  top: 0;
}

@media screen and (max-width: 1470px) {
  header .header_inner .logo {
    left: 102px;
  }
  header .header_inner {
    padding: 0 30px;
  }
  .until_menu .untilmenu_list {
    gap: 40px;
  }
  .search {
    right: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .search {
    display: none;
  }
  .until_menu .untilmenu_list {
    left: auto;
    right: 30px;
    transform: translateX(0);
  }
}
@media screen and (max-width: 960px) {
  header .header_inner {
    padding: 0 25px;
  }
  header .header_inner .logo {
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
  .until_menu .untilmenu_list {
    width: 100%;
    justify-content: space-evenly;
    gap: 0;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
  }
  .untilmenu_list li a {
    font-weight: 400;
    font-size: 16px;
    gap: normal;
  }
  nav {
    width: 21px;
    position: relative;
    top: -14px;
  }
  nav .tog_menu {
    gap: 5px;
  }
  nav .tog_menu::before,
  nav .tog_menu::after,
  nav .tog_menu .bar {
    height: 2px;
  }
  nav .tog_menu .bar {
    width: 21px;
  }
}
