/*비쥬얼*/
.main_wrap {
  background: linear-gradient(to bottom, #efe5d9 44.8%, #1e1e1e 0%);
}
.main_wrap > .contents {
  padding-bottom: 160px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.visual {
  padding: 70px 0 0;
}
.visual picture {
  display: block;
  width: 100%;
  max-width: 1470px;
  padding: 102px 0 0;
  margin: 0 auto;
}
.visual picture img {
  width: 100%;
  object-fit: cover;
}
/*비쥬얼*/

/*퀵메뉴*/
.quickmenu_wrap {
  width: 100%;
  padding: 0 0 65px;
  position: sticky;
  left: 0;
  bottom: -35px;
  z-index: 10;
}
.quickmenu_wrap > .quickmenu {
  width: 100%;
  max-width: 660px;
  height: 66px;
  margin: 0 auto;
  padding: 8px 10px;
  border-radius: 50px;
  background: #8f8f8f;
  box-sizing: border-box;
}
.quickmenu_list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.quickmenu_list > li > a {
  min-width: 208px;
  height: 50px;
  color: var(--color-wt);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.quick_esg a::before,
.quick_cs a::before,
.quick_recruit a::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 12px;
}
.quick_esg a::before {
  background: url("/shinsegaefood/images/quick_esg.png") no-repeat center / 100%
    100%;
}
.quick_cs a::before {
  background: url("/shinsegaefood/images/quick_cs.png") no-repeat center / 100%
    100%;
}
.quick_recruit a::before {
  background: url("/shinsegaefood/images/quick_recruit.png") no-repeat center /
    100% 100%;
}
.quickmenu_list > li > a:hover {
  background: #0c0c0c;
}

.quickmenu_list > li a.selected {
  background: #0c0c0c;
}
/*퀵메뉴*/

/*탑메뉴*/
.topmenu {
  position: fixed;
  bottom: 190px;
  right: 50%;
  margin-right: -735px;
  z-index: 11;
}
.topmenu .topmenu_btn {
  display: block;
  width: 58px;
  height: 60px;
  border-radius: 50%;
  background: url("/shinsegaefood/images/top_ico.png") no-repeat center / 100%
    auto;
  transition: all 0.2s;
  border: none;
  cursor: default;
}
/*탑메뉴*/

/*배경이미지*/
.bg_line {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 330px;
}
.bg_line img {
  width: 100%;
  object-fit: cover;
}
/*배경이미지*/

@media screen and (max-width: 960px) {
  .main_wrap > .contents {
    padding-bottom: 80px;
  }
  .visual picture {
    padding-top: 12%;
    height: 60vh;
  }
  .visual picture img {
    height: 100%;
  }
  .quickmenu_wrap {
    padding: 0 0 35px;
    bottom: -20px;
  }
  .quickmenu_wrap > .quickmenu {
    max-width: 95%;
  }
  .quickmenu_list {
    justify-content: space-between;
    gap: 8px;
  }
  .quickmenu_list > li {
    flex: 1;
  }
  .quickmenu_list > li > a {
    min-width: 0;
  }
}
@media screen and (max-width: 640px) {
  .quickmenu_list > li > a {
    font-size: 15px;
  }
  .quick_esg a::before,
  .quick_cs a::before,
  .quick_recruit a::before {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }
}
