:root{
    --color-mc: #5c584f;
    --color-pc: #da2128;
    --color-bk: #000;
    --color-df: #212121;
    --color-ct: #ccc;
    --color-cl: #eee;
    --color-ly: #f1e9df;
    --color-lg: #f3f3f3;
    --color-wt: #ffffff;
}

/*FOOD ON, BRANDS, CONTENTS 1920px보다 크면 50px*/
/*FOOD ON, BRANDS, CONTENTS 1920px보다 작으면 2.6vw*/
/*FOOD ON 1470px보다 작으면 35px*/
/*BRANDS, CONTENTS 1470px보다 작으면 30px*/


