.swiper {
  overflow: visible !important;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 4.323vw !important;
  height: 4.427vw !important;
  z-index: 2;
  border-radius: 50%;
  cursor: default !important;
  margin-top: 0 !important;
}
.swiper-button-prev {
  left: -2.3vw !important;
  background: url("/shinsegaefood/images/btn_prev.png") center center / 100%
    no-repeat !important;
}
.swiper-button-next {
  right: -2.3vw !important;
  background: url("/shinsegaefood/images/btn_right.png") center center / 100%
    no-repeat !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "" !important;
}

@media screen and (width>=1920px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 85px !important;
    height: 85px !important;
  }
}
@media screen and (max-width: 1470px) {
  .swiper-button-prev {
    left: -18px !important;
  }
  .swiper-button-next {
    right: -18px !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 9.6vw !important;
    height: 9.6vw !important;
  }
}
