.video_wrap > .video {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 140px;
}
.video_wrap > .video > .main_video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 35px;
  overflow: hidden;
}
.video_wrap > .video > .main_video iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 960px) {
  .video_wrap > .video > .main_video {
    border-radius: 0;
  }
  .video_wrap > .video {
    padding: 50px 0 0;
  }
}
